body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Arial", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.app-header {
  display: flex; // Use flexbox for alignment
  align-items: center; // Center items vertically
  justify-content: center; // Center items horizontally
  padding: 20px; // Padding around the header
  background-color: #f8f8f8; // Light background for the header
}

.logo {
  height: 50px; // Adjust the height as necessary
  margin-right: 15px; // Space between logo and search bar
}

#root {
  display: flex; // Use flexbox for layout
  flex-direction: column; // Stack children vertically
  min-height: 100vh; // Make sure the root takes at least full viewport height
}

.footer {
  margin-top: auto; // Push the footer to the bottom
  background-color: #ff6f61; // Adjust background color
  text-align: center; // Center text
  padding: 20px; // Add padding
  width: 100%; // Full width
}

.app-content {
  padding: 20px; // Add padding to the content area
  min-height: calc(
    100vh - 150px
  ); // Adjust height to prevent overlap with footer
}

.container {
  max-width: 100%; // Ensure it does not exceed the viewport
  overflow: hidden; // Hide any overflowing content
}

/* Global Theme Styles */
:root {
  --background-color: #ffffff;
  --text-color: #333;
  --button-background: #ff6f61;
  --button-background-light: #ff8f8a;
  --button-text: #ffffff;
}

/* Dark Theme Styles */
[data-theme="dark"] {
  --background-color: #1e1e1e;
  --text-color: #e0e0e0;
  --button-background: #ff6f61; // Keep the same for visibility
  --button-background-light: #ff8f8a;
  --button-text: #ffffff;
}

button {
  background-color: var(--button-background);
  color: var(--button-text);
  border: none; // Ensure no border by default
  border-radius: 5px; // Rounded corners
  padding: 10px 20px; // Padding for buttons
  cursor: pointer; // Pointer on hover
  transition: background-color 0.3s ease; // Smooth transition

  &:hover {
    background-color: var(--button-background); // Fallback for hover state
  }
}

/* Add specific styles if needed for components */
.recipe-list-container {
  background-color: var(--background-color);
}

.theme-toggle-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.theme-toggle {
  background-color: var(--button-background);
  color: var(--button-text);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    color: rgba(255, 111, 97, 0.8); /* Use a manual color instead of lighten */
  }
}
.logo {
  max-width: 150px; // Set max width for the logo
  height: auto; // Maintain aspect ratio
}
