.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;

  .social-icons {
    margin-top: 10px;

    a {
      color: #fff;
      margin: 0 10px;
      transition: color 0.3s ease;

      &:hover {
        color: #ff8c00; // Change to your desired hover color
      }

      svg {
        margin: 0 8px;
      }
    }
  }
}
